snippet sec
\section{$1}
    $2
endsnippet

snippet chp
\chapter{$1}
    $2
endsnippet

snippet itemize
\begin{itemize}
    \item $1
\end{itemize}
endsnippet

snippet item
    \item $1
endsnippet

snippet bf
\textbf{$1}
endsnippet

snippet em
\emph{$1}
endsnippet

snippet ref
\ref{$1}
endsnippet
