[submodule "mbox2org"]
	path = mbox2org
	url = https://github.com/bkoppelmann/mbox2org.git
[submodule "neomutt/private"]
	path = neomutt/private
	url = git@git.koppelmanns.de:kbastian/neomutt-private.git
[submodule "offlineimap"]
	path = offlineimap
	url = git@git.koppelmanns.de:kbastian/offlineimap.git
[submodule "imapfilter"]
	path = imapfilter
	url = git@git.koppelmanns.de:kbastian/imapfilter.git
